
<div class="container m-5">
  <h1>Products Loader</h1>
  <form action="/productos" method="POST">
    <div class="input-group m-3">
      <span class="input-group-text">Name</span>
      <input type="text" class="form-control" placeholder="Name" name="title">
    </div>
    <div class="input-group m-3">
      <span class="input-group-text">Price</span>
      <input type="number" class="form-control" placeholder="Price" name="price">
    </div>
    <div class="input-group m-3">
      <span class="input-group-text">Thumbnail</span>
      <input type="text" class="form-control" placeholder="Thumbnail URL" name="thumbnail">
    </div>
    <button class="btn btn-dark" type="submit">Add Product</button>
    <a href="/productos" class="btn btn-dark" role="button">Products List</a>
  </form>
</div>
